1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple = (1, 2, 3, 4, 5)


2. Access the third element of a tuple.

In [5]:
my_tuple = (1, 2, 3, 4, 5)
n=3
my_tuple[n-1]

3

3. Find the length of a tuple without using the `len()` function.

In [9]:
my_tuple = (1, 2, 3, 4, 5, 6)
count=0
for i in my_tuple:
    count=count+1
print(count)

6

4. Count the occurrences of an element in a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5, 6, 3, 3, 6, 1)
element=3
my_tuple.count(element)

3

5. Find the index of the first occurrence of an element in a tuple.

In [15]:
my_tuple = (1, 2, 3, 4, 5, 6, 3, 3, 6, 1)
my_tuple.index(4)

3

6. Check if an element exists in a tuple.

In [21]:
my_tuple = (1, 2, 3, 4, 5, 6, 3, 3, 6, 1)
i=int(input("enter element"))
if i in my_tuple:
    print("yes element exists")
else: 
    print("No element does not exists")

enter element 5

yes element exists

7. Convert a tuple to a list.

In [22]:
my_tuple = (1, 2, 3, 4, 5, 6, 3, 3, 6, 1)
list(my_tuple)

[1, 2, 3, 4, 5, 6, 3, 3, 6, 1]

8. Convert a list to a tuple.

In [24]:
my_list=[1, 2, 3, 4, 5, 6, 3, 3, 6, 1]
tuple(my_list)

(1, 2, 3, 4, 5, 6, 3, 3, 6, 1)

9. Unpack the elements of a tuple into variables.

In [33]:
my_tuple = (1, 2, 3, 4, 5)
a, b, c, d, e= my_tuple
print(a,b,c,d,e)

1 2 3 4 5

10. Create a tuple of even numbers from 1 to 10.

In [34]:
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
tuple(l)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [35]:
l=[]
for i in range(1,11):
    if i%2!=0:
        l.append(i)
tuple(l)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [36]:
tuple1=(1,2,3,4,5)
tuple2=(3,4,5,6,7)
tuple1+tuple2

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

13. Repeat a tuple three times.

In [37]:
tuple1=(1,2,3,4,5)
print(3*tuple1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [46]:
my_tuple = (1, 2, 3, 4, 5, 6)
tup1=()
is_empty = not bool(my_tuple)
print(is_empty)
is_empty = not bool(tup1)
print(is_empty)

False
True

15. Create a nested tuple.

In [48]:
tuple1=(1,2,3,4,5)
tuple2=(3,4,5,6,7)
tup1=()
my_tuple = (1, 2, 3, 4, 5, 6)
nested_tuple = (tuple1,tuple2,tup1,my_tuple)
nested_tuple

((1, 2, 3, 4, 5), (3, 4, 5, 6, 7), (), (1, 2, 3, 4, 5, 6))

16. Access the first element of a nested tuple.

In [49]:
tuple1=(1,2,3,4,5)
tuple2=(3,4,5,6,7)
tup1=()
my_tuple = (1, 2, 3, 4, 5, 6)
nested_tuple = (tuple1,tuple2,tup1,my_tuple)
nested_tuple[0]

(1, 2, 3, 4, 5)


17. Create a tuple with a single element.

In [51]:
tup1=("rahul",)
tup1

('rahul',)


18. Compare two tuples.

In [56]:
tuple1=(3,4,5)
tuple2=(3,4,5)
are_equal = tuple1 == tuple2
are_equal

True

19. Delete a tuple.

In [59]:
tup1=("rahul",)
del tup1



20. Slice a tuple.

In [60]:
my_tuple = (1, 2, 3, 4, 5, 6)
my_tuple[:3]

(1, 2, 3)

21. Find the maximum value in a tuple.

In [61]:
my_tuple = (1, 2, 3, 4, 5, 6)
max(my_tuple)

6

22. Find the minimum value in a tuple.

In [62]:
my_tuple = (1, 2, 3, 4, 5, 6)
min(my_tuple)

1

23. Convert a string to a tuple of characters.

In [64]:
string="rahul"
tuple(list(string))

('r', 'a', 'h', 'u', 'l')

24. Convert a tuple of characters to a string.

In [70]:
tup=('r', 'a', 'h', 'u', 'l')
string=""
for i in tup:
    string=string+i
print(string)
type(string)

rahul

str

25. Create a tuple from multiple data types.

In [72]:
mixed_tuple = (1, 'hello', 3.14, [4, 5])
mixed_tuple

(1, 'hello', 3.14, [4, 5])

26. Check if two tuples are identical.

In [74]:
tuple1=(3,4,5)
tuple2=(3,4,5)
are_identical = tuple1 == tuple2
print(are_identical)

True


27. Sort the elements of a tuple.

In [78]:
tuple1=(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
sorted(tuple1)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

28. Convert a tuple of integers to a tuple of strings.

In [88]:
tuple1=(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
l=[]
for i in tuple1:
    l.append(str(i))
tuple(l)

('1', '2', '3', '4', '5', '1', '2', '3', '4', '5', '1', '2', '3', '4', '5')


29. Convert a tuple of strings to a tuple of integers.

In [89]:
string_tuple=('1', '2', '3', '4', '5', '3', '4', '5')
l=[]
for i in string_tuple:
    l.append(int(i))
print(tuple(l))

(1, 2, 3, 4, 5, 3, 4, 5)


30. Merge two tuples.

In [90]:
tuple1=(3,4,5)
tuple2=(3,4,"rahul")
merge=tuple1+tuple2
print(merge)

(3, 4, 5, 3, 4, 'rahul')

31. Flatten a nested tuple.

In [98]:
nested_tuple=((1, 2, 3, 4, 5), (3, 4, 5, 6, 7),(1, 2, 3, 4, 5, 6))
l=[]
for i in nested_tuple:
    for j in i:
        l.append(j)
tuple(l)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [1]:
l=[]
for num in range(1,1000):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            l.append(num)
print(tuple(l[:5]))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [2]:
my_tuple=(1,2,3,3,2,1)
is_palindrome = my_tuple == my_tuple[::-1]
if is_palindrome:
    print("tuple is a palindrome")
else:
    print("tuple is not palindrome")

tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [3]:
l=[]
for i in range(1,6):
    l.append(i**2)
tuple(l)

(1, 4, 9, 16, 25)


35. Filter out all even numbers from a tuple.

In [4]:
this_tuple=(1, 2, 3, 4, 5, 3, 4, 5)
l=[]
for i in this_tuple:
    if i%2==0:
        l.append(i)
tuple(l)

(2, 4, 4)


36. Multiply all elements in a tuple by 2.

In [5]:
this_tuple=(1, 2, 3, 4, 5, 3, 4, 5)
l=[]
for i in this_tuple:
    l.append(2*i)
tuple(l)

(2, 4, 6, 8, 10, 6, 8, 10)

37. Create a tuple of random numbers.

In [6]:
import random
l=[]
for i in range(0,5):
    val=random.randint(1,100)
    l.append(val)
tuple(l)

(77, 39, 15, 99, 85)


38. Check if a tuple is sorted.

In [7]:
#tuple1=(69, 58, 70, 82, 40)
tuple1=(1,2,3,4,5,6,7)
tuple2=tuple(sorted(tuple1))
if tuple1==tuple2:
    print("sorted")
else:
    print("not sorted")

sorted

39. Rotate a tuple to the left by `n` positions.

In [19]:
tuple1=(1,2,3,4,5,6,7)
n=3
l_tuple=tuple1[:n]
r_tuple=tuple1[n:]
new_tuple=r_tuple+l_tuple
print(new_tuple)

(4, 5, 6, 7, 1, 2, 3)


40. Rotate a tuple to the right by `n` positions.

In [15]:
tuple1=(1,2,3,4,5,6,7)
n=3
l_tuple=tuple1[:n]
r_tuple=tuple1[n:]
new_tuple=r_tuple+l_tuple
print(new_tuple)

(4, 5, 6, 7, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [27]:
def fibo(n):
    if n<0:
        print("invalid input")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
l=[]
for i in range(5):
    l.append(fibo(i))
tuple(l)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [29]:
l=[]
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    l.append(ele) 
print(tuple(l))

Enter number of elements :  5
 6
 1
 3
 2
 6

(6, 1, 3, 2, 6)

43. Swap two elements in a tuple.

In [42]:
def swapPositions(list,pos1,pos2): 
    list[pos1],list[pos2]=list[pos2],list[pos1]
    return list
tuple1=(23,65,19,90)
List=list(tuple1)
pos1,pos2=1,3
print(tuple(swapPositions(List, pos1-1, pos2-1)))

(19, 65, 23, 90)

44. Reverse the elements of a tuple.

In [43]:
Tuple=(6, 1, 3, 2, 6)
Tuple[::-1]

(6, 2, 3, 1, 6)


45. Create a tuple of the first `n` powers of 2.

In [47]:
l=[]
n=5
for i in range(1,n+1):
    l.append(i**2)
l

[1, 4, 9, 16, 25]

46. Find the longest string in a tuple of strings.

In [50]:
Tuple=('find', 'the', 'longest', 'string', 'words', 'in', 'a', 'list')
word=Tuple[0]
for i in Tuple:
    if len(i)>=len(word):
        word=i
print(word)

longest

47. Find the shortest string in a tuple of strings.

In [51]:
Tuple=('find', 'the', 'longest', 'string', 'words', 'in', 'a', 'list')
short=Tuple[0]
for i in Tuple:
    if len(i)<=len(short):
        short=i
print(short)

a

48. Create a tuple of the first `n` triangular numbers.

In [1]:
n=5
l=[]
for i in range(1,n+1):
    i=i*(i+1)//2
    l.append(i)
tuple(l)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [57]:
def is_subsequence(subseq, seq):
    subseq_str = ''.join(map(str, subseq))
    seq_str = ''.join(map(str, seq))
    return subseq_str in seq_str
Tuple1=(1, 2, 3, 4, 5, 6, 7)
larger_list=list(Tuple1)
Tuple2=(2, 4, 6)
smaller_list=list(Tuple2)
result = is_subsequence(smaller_list, larger_list)
print(result)

False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [2]:
n = 10
l=[]
for i in range(1,n+1):
    if i%2==0:
        l.append(0)
    else:
        l.append(1)
l

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]