1. Create a set with integers from 1 to 5.

In [3]:
s=set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [5]:
s={1, 2, 3, 4, 5}
s.add("rahul")
s

{1, 2, 3, 4, 5, 'rahul'}

3. Remove an element from a set.

In [8]:
s.discard("rahul")
s

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [10]:
s={1, 2, 3, 4, 5}
n=2
if n in s:
    print("yes")
else:
    print("no")

yes

5. Find the length of a set without using the `len()` function.

In [12]:
s={1, 2, 3, 4, 5, 6}
count=0
for i in s:
    count=count+1
print(count)

6

6. Clear all elements from a set.

In [14]:
s={1, 2, 3, 4, 5, 6}
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [15]:
even_set=set()
for i in range(1,11):
    if i%2==0:
        even_set.add(i)
even_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [16]:
even_set=set()
for i in range(1,11):
    if i%2!=0:
        even_set.add(i)
even_set

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [18]:
set1={1,2,3,4,5,6,7,8}
set2={10,11,12,13,14}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14}

10. Find the intersection of two sets.

In [20]:
set1={1,2,3,4,5,6,7,8}
set2={5,6,7,8,13,14}
set1.intersection(set2)

{5, 6, 7, 8}

11. Find the difference between two sets.

In [28]:
set1={1,2,3,4,5,6,7,8}
set2={5,6,7,8,13,14}
set1.difference(set2)

{1, 2, 3, 4}

12. Check if a set is a subset of another set.

In [4]:
set1={1,2,3,4,5,6,7,8}
set2={5,6}
set2.issubset(set1)

True

13. Check if a set is a superset of another set.

In [8]:
set1={1,2,3,4,5,6,7,8}
set2={5,6}
set1.issuperset(set2)

True

14. Create a set from a list.

In [7]:
List=[1,2,3,4,5,6,1,2,8,9,4,5,6,2,3]
set(List)

{1, 2, 3, 4, 5, 6, 8, 9}

15. Convert a set to a list.

In [9]:
Set={1, 2, 3, 4, 5, 6, 8, 9}
list(Set)

[1, 2, 3, 4, 5, 6, 8, 9]

16. Remove a random element from a set.

In [22]:
import random
Set={1, 2, 3, 4, 5, 6, 8, 9}
ele=random.randint(1,len(Set))
ele
Set.remove(ele)
Set

{1, 2, 4, 5, 6, 8, 9}

17. Pop an element from a set.

In [27]:
Set={1, 2, 4, 5, 6, 8, 9}
Set.pop()
Set

{2, 4, 5, 6, 8, 9}

18. Check if two sets have no elements in common.

In [48]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7,}
if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [49]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [52]:
set1 = {1, 2, 3, 4}
set2=set()
set2.update(set1)
set2

{1, 2, 3, 4}

21. Create a set of the first 5 prime numbers.

In [16]:
l=[]
n=5
for num in range(1,100):
    if num>0:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            l.append(num) 
List=l[0:n]
set(List)

{1, 2, 3, 5, 7}

22. Check if two sets are identical.

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [24]:
set1 = {1, 2, 3, 4, 5}
frozen=frozenset(set1)
frozen

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

if set1.isdisjoint(set2):
    print("The sets are disjoint; they have no common elements.")
else:
    print("The sets have at least one common element.")

The sets are disjoint; they have no common elements.

25. Create a set of squares of numbers from 1 to 5.

In [29]:
s=set()
for i in range(1,6):
    s.add(i**2)
s

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [33]:
set1 = {1, 2, 3, 4, 5}
for i in set1:
    if i%2==0:
        print(i)

2
4

27. Multiply all elements in a set by 2.

In [34]:
s=set()
set1 = {1, 2, 3, 4, 5}
for i in set1:
    s.add(i*2)
print(s)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [39]:
import random
Set=set()
for i in range(0,5):
    s=random.randint(1,100)
    Set.add(s)
Set

{19, 43, 51, 62, 84}

29. Check if a set is empty.

In [46]:
Set=set()
#Set={19, 43, 51, 62, 84}
if len(Set)==0:
    print("empty set")
else:
    print("not empty")

empty set

30. Create a nested set (hint: use frozenset).

In [56]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}
nested=frozenset(set1),frozenset(set2)
nested

(frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8}))

31. Remove an element from a set using the discard method.

In [57]:
set1 = {1, 2, 3, 4, 5}
set1.discard(2)
set1

{1, 3, 4, 5}

32. Compare two sets.

In [58]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [59]:
string="PWskills"
s=set()
for i in string:
    s.add(i)
s

{'P', 'W', 'i', 'k', 'l', 's'}

34. Convert a set of strings to a set of integers.

In [64]:
s={'1', '2', '3', '4', '5', '6', '7', '8', '9'}
Set=set()
for i in s:
    Set.add(int(i))
Set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

35. Convert a set of integers to a set of strings.

In [65]:
s={1, 2, 3, 4, 5, 6, 7, 8, 9}
Set=set()
for i in s:
    Set.add(str(i))
Set

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

36. Create a set from a tuple.

In [66]:
tuple=(1,2,3,4,5,6)
set(tuple)

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [2]:
s={1, 2, 3, 4, 5, 6}
tuple(s)

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [3]:
s={1, 2, 3, 4, 5, 6}
max(s)

6

39. Find the minimum value in a set.

In [4]:
s={1, 2, 3, 4, 5, 6}
min(s)

1

40. Create a set from user input.

In [8]:
element=input("Enter a comma-separated list of values: ")
set(element.split(","))

Enter a comma-separated list of values:  5,4,6,4,8

{'4', '5', '6', '8'}

41. Check if the intersection of two sets is empty.

In [19]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10,11}
if set2.intersection(set1)==set():
    print("empty")
else:
    print("not empty")

empty

42. Create a set of the first 5 Fibonacci numbers.

l=[]
n=5
for num in range(1,100):
    if num>0:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            l.append(num) 
set(l[0:n])

43. Remove duplicates from a list using sets.

In [25]:
List=[12,23,15,65,32,45,62,12,23,65,65,32,45,12,23]
set(List)

{12, 15, 23, 32, 45, 62, 65}

44. Check if two sets have the same elements, regardless of their count.

In [27]:
set1={1,2,3,4,5}
set2={5,3,4,2,1,3}
if set1==set2:
    print("same element")
else:
    print("not same element")

same element

45. Create a set of the first `n` powers of 2.

In [28]:
s=set()
n=5
for i in range(1,n+1):
    s.add(i**2)
print(s)

{1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [2]:
set1={10,11,12,13,14,15}
List=[14,15,16,17,15,10,16]
set2=set(List)
set1.intersection(set2)

{10, 14, 15}

47. Create a set of the first `n` triangular numbers.

In [7]:
n=5
s=set()
for i in range(1,n+1):
    i=i*(i+1)//2
    s.add(i)
s

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [11]:
set1={10,11,12,13,14,15}
set2={11,12}
if set2.issubset(set1):
    print("yes set2 is subset of set1")
else:
     print("no set2 is no subset of set1")

yes set2 is subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [16]:
s=set()
n=10
for i in range(3):
    if i%2==0:
        s.add(0)
    else:
        s.add(1)
s #set does not stores repeating value

{0, 1}

50. Merge multiple sets into one.

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}