1. Create a list with integers from 1 to 10.

In [2]:
l=list(range(11))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function

In [8]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count=0
for i in l:
    if i in l:
        count=count+1
print("the length of a list is :",count)

the length of a list is : 11

3. Append an element to the end of a list.

In [10]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append("PW Skills")
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'PW Skills']

4. Insert an element at a specific index in a list.

In [40]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2,100)  # inserting 100 at 2 index
print(my_list)

[1, 2, 100, 3, 4, 5]

5. Remove an element from a list by its value.

In [42]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(2)  # removing 2
print(my_list)

[1, 3, 4, 5]

6. Remove an element from a list by its index.

In [2]:
l=["rahul","shyam",1,2,3,4,"@","#"]
print(f" enter index 0 to {len(l)-1} remove an element from a list")
index=int(input())
l.pop(index)
l

 enter index 0 to 7 remove an element from a list

 6

['rahul', 'shyam', 1, 2, 3, 4, '#']

7. Check if an element exists in a list.

In [5]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_to_check in my_list:
    print("Element exists in the list")
else:
    print("Element does not exist in the list")

Element exists in the list

8. Find the index of the first occurrence of an element in a list.

In [6]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

try:
    index = my_list.index(element_to_check)
    print(f"Element exists in the list at index {index}")
except ValueError:
    print("Element does not exist in the list")

Element exists in the list at index 2

9. Count the occurrences of an element in a list.

In [9]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
ele=10
count=my_list.count(ele)
print(f"the occurences {ele} in the list is {count} times")

the occurences 10 in the list is 3 times

10. Reverse the order of elements in a list.

In [12]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
my_list.reverse()
my_list

[10, 10, 1, 35, 22, 6, 10, 5, 33, 1, 26, 22, 22, 1]

In [14]:
#there are another method
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
my_list[::-1]

[10, 10, 1, 35, 22, 6, 10, 5, 33, 1, 26, 22, 22, 1]

11. Sort a list in ascending order.

In [16]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
my_list.sort() # this function is used to short the list 
my_list

[1, 1, 1, 5, 6, 10, 10, 10, 22, 22, 22, 26, 33, 35]

12. Sort a list in descending order.

In [17]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
my_list.sort() # this function is used to short the list 
my_list[::-1] # reverse the list in decending order

[35, 33, 26, 22, 22, 22, 10, 10, 10, 6, 5, 1, 1, 1]


13. Create a list of even numbers from 1 to 20.

In [30]:
even_list=[]
for i in range(1,21):
    if i%2!=0:
        even_list.append(i)
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

14. Create a list of odd numbers from 1 to 20.

In [31]:
odd_list=[]
for i in range(1,21):
    if i%2==0:
        odd_list.append(i)
print(odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

15. Find the sum of all elements in a list.

In [39]:
my_list=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum=0
for i in range(len(my_list)):
    sum=my_list[i]+sum
print(f"sum of the list is {sum}")

sum of the list is 110

16. Find the maximum value in a list.

In [42]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
print(max(my_list))

35

In [47]:
# another method
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
max=my_list[0]
for i in my_list:
    if i>max:
        max=i
print(max)

35

17. Find the minimum value in a list.

In [48]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
print(min(my_list))

1

In [49]:
#another method without min()
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
min=my_list[0]
for i in my_list:
    if i<min:
        min=i
print(min)

1


18. Create a list of squares of numbers from 1 to 10.

In [52]:
sq_list=[]
for i in range(1,11):
    sq_list.append(i**2)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [64]:
import random
n=10 #total list random number 
l=[]
for i in range(n):
    num=random.randint(1,100)
    l.append(num)
print(l)

[33, 59, 93, 5, 44, 82, 81, 73, 21, 35]

20. Remove duplicates from a list.

In [73]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
s=set(my_list)
new_list=list(s)
new_list

[1, 33, 35, 5, 6, 10, 22, 26]

21. Find the common elements between two lists.

In [5]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
comm_list=list(set(list1).intersection(set(list2)))
comm_list

[3, 4, 5]


22. Find the difference between two lists.

In [6]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
comm_list=list(set(list1).union(set(list2)))
comm_list

[1, 2, 3, 4, 5, 6, 7]


23. Merge two lists.

In [17]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list1.extend(list2) #merging in list1
list1

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [18]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list2.extend(list1) #merging in list2
list2

[3, 4, 5, 6, 7, 1, 2, 3, 4, 5]

24. Multiply all elements in a list by 2.

In [24]:
list1 = [1, 2, 3, 4, 5]
new_list=[]
for i in list1:
    new_list.append(i*2)
new_list

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [26]:
list1 = [1, 2, 3, 4, 5]
new_list=[]
for i in list1:
    if i%2!=0:
        new_list.append(i)
new_list

[1, 3, 5]

26. Convert a list of strings to a list of integers.

In [28]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = []
for i in string_list:
    integer_list.append(int(i))
integer_list

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [29]:
integer_list = [1, 2, 3, 4, 5]
string_list=[]
for i in integer_list:
    string_list.append(str(i))
string_list

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [33]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flatten_list=[]
for i in nested_list:
    for j in i:
        flatten_list.append(j)
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [52]:
def Fibonacci(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
fibo_list=[]
for i in range(0,10):
    fibo_list.append(Fibonacci(i))
fibo_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


30. Check if a list is sorted.

In [92]:
my_list=[1,22,22,26,1,33,5,10,6,22,35,1,10,10]
#my_list=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
new_list=[]
for i in my_list:
    new_list.append(i)
print(new_list)
my_list.sort()
print(my_list)
if new_list==my_list:
    print("yes list is sorted")
else:
    print("No list is not sorted")

[1, 22, 22, 26, 1, 33, 5, 10, 6, 22, 35, 1, 10, 10]
[1, 1, 1, 5, 6, 10, 10, 10, 22, 22, 22, 26, 33, 35]
No list is not sorted

31. Rotate a list to the left by `n` positions.

In [17]:
n=3
list1=[1, 2, 3, 4, 5, 6, 7, 8]
left_list=list1[:n]
right_list=list1[n: ]
right_list.extend(left_list)
print(right_list)

[4, 5, 6, 7, 8, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [22]:
n=3
list1=[9,10,11, 4, 5, 6, 7, 8]
left_list=list1[:n]
right_list=list1[n: ]
right_list.extend(left_list)
print(right_list)

[4, 5, 6, 7, 8, 9, 10, 11]

33. Create a list of prime numbers up to 50.

In [1]:
l=[]
for num in range(1,50):
    if num>1:
        for i in range(2, num):
           if (num % i) == 0:
               break
        else:
            l.append(num)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [4]:
def chunk_list(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = list(chunk_list(my_list, chunk_size))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]



35. Find the second largest number in a list.

In [18]:
l=[2,3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
new_list=[]
maximum=max(l)
l.remove(maximum)
second_highest=max(l)
print("second highest is :",second_highest)
l.append(maximum)
print(l)

second highest is : 43
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]


36. Replace every element in a list with its square.

In [22]:
l=[2, 3, 5, 7, 11, 13]
new_l=[]
for i in l:
    new_l.append(i**2)
print(new_l)

[4, 9, 25, 49, 121, 169]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [50]:
my_list=[2, 3, 5, 7, 11, 13]
my_dict = {element: index for index, element in enumerate(my_list)}
my_dict

{2: 0, 3: 1, 5: 2, 7: 3, 11: 4, 13: 5}

38. Shuffle the elements of a list randomly.

In [54]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
my_list

[4, 1, 3, 5, 2]


39. Create a list of the first 10 factorial numbers.

In [78]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
f_list=[]
for i in range(0,10):
    factorial(i)
    f_list.append(factorial(i))
print(f_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]






40. Check if two lists have at least one element in common.

In [110]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
def check(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False
if check(list1,list2)== False:
    print("there is not common element")
else:
    print("there is common element",i)

there is common element 5

41. Remove all elements from a list.

In [4]:
list1 = [1, 2, 3, 4, 5]
list1.clear()
print(list1)

[]


42. Replace negative numbers in a list with 0.

In [5]:
list1 = [1, 2, -3, -4, 5]
new_list=[]
for i in list1:
    if i>=0:
        new_list.append(i)
    else:
        new_list.append(0)
print(new_list)

[1, 2, 0, 0, 5]

43. Convert a string into a list of words.

In [7]:
string="Convert a string into a list of words"
list(string.split())

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [18]:
my_list=['Convert', 'a', 'list', 'of', 'words', 'into', 'a', 'string.']
string=" ".join(my_list)
string

'Convert a list of words into a string.'

45. Create a list of the first `n` powers of 2.

In [25]:
l=[]
n=5
for i in range(n):
    l.append(i**2)
l

[0, 1, 4, 9, 16]

46. Find the longest string in a list of strings.

In [29]:
my_list=['find', 'the', 'longest', 'string', 'words', 'in', 'a', 'list']
word=my_list[0]
for i in my_list:
    if len(i)>=len(word):
        word=i
print(word)

longest

47. Find the shortest string in a list of strings.

In [30]:
my_list=['find', 'the', 'longest', 'string', 'words', 'in', 'a', 'list']
word=my_list[0]
for i in my_list:
    if len(i)<=len(word):
        word=i
print(word)

a


48. Create a list of the first `n` triangular numbers.

In [37]:
n=5
l=[]
for i in range(1,n+1):
    i*(i+1)//2
    l.append(i)
l

[1, 2, 3, 4, 5]

49. Check if a list contains another list as a subsequence.

In [38]:
def is_subsequence(subseq, seq):
    subseq_str = ''.join(map(str, subseq))
    seq_str = ''.join(map(str, seq))
    return subseq_str in seq_str
larger_list = [1, 2, 3, 4, 5, 6, 7]
smaller_list = [2, 4, 6]
result = is_subsequence(smaller_list, larger_list)
print(result)

False

50. Swap two elements in a list by their indices.

In [39]:
def swap_elements_by_indices(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 2, 3, 4, 5]
swap_elements_by_indices(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]